* {
  font-family: monospace;
  text-transform: uppercase;
}

#allPlayers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.nav {
  display: flex;
  justify-content: space-between;
  color: aliceblue;
}
.singlePlayerCard {
  background-color: rgb(112, 184, 247);
  flex-basis: 200px;
  flex-grow: 1;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  margin: 5px 10px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.singlePlayerCard img,
.singlePlayerView img {
  width: 100%;
  border-radius: 10px;
  margin: 10px 0px;
}

.playerTitle {
  color: gold;
  font-size: x-large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
}

.playerTitle:hover {
  background-color: cornflowerblue;
}

#deleteButton:hover {
  background-color: aquamarine;
}

.playerBreed {
  color: blue;
  font-weight: bold;
  font-size: large;
}

.playerNumber {
  color: blue;
  font-weight: bold;
  font-size: large;
}

.playerStatus {
  color: blue;
  font-weight: bold;
  font-size: large;
}

.singlePlayerView {
  flex-basis: 500px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  margin: 5px 10px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.singlePlayerView > li {
  margin: 10px 0px 0px 0px;
}

button {
  text-transform: uppercase;
  font-family: monospace;
  font-weight: bold;
}

label {
  font-size: large;
  font-weight: bold;
}
